@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background-start: #1B2652;
  --background-end: #080e27;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
